:root {
  --bg-dark:#7298A4;
  --primary-dark-text: #E3E5D5;
  --secondary-dark-text: #D4D6C8;
  --btn-dark-color:#404571;
  
  --bg-light:#FFFFFF;
  --primary-light-text: #1A1E1F;
  --secondary-light-text: #5C676B;
  --btn-light-color:#980227;
}
