
@font-face {
  font-family: "Audiowide variant0";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Audiowide-Regular.ttf") format("ttf");
}

html,
body {
  font-family: "Audiowide variant0";
} 

.title {
  color: brown;
}

